# Secret files
*.env
!*.example.env
*.key
!*.example.key
*.pem
!*.example.pem
*.crt
!*.example.crt
*secret*/

# Logs
*.log

### Python ###

__pycache__/
*.py[codz]

build/
dist/

.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# mkdocs documentation
/site

# Ruff stuff:
.ruff_cache/
